@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway',sans-serif;
}

.custom-img {
  background-image: url('background.jpg');
}
.herobtn:hover{
background: #ffffff;
transition: 0.5s linear;
color: #333;
}